// TODO: needs adding responsiveness
div {
    .slider-container {
        display: flex;
        flex-direction: column;
    }

    > span {
        text-wrap-mode: nowrap;
        font-size: var(--mdc-filled-text-field-label-text-size, 1rem);
    }
}

.panel-content {
    display: flex;
    grid-gap: 16px;

    > * {
        flex: 1;
    }

    .mat-mdc-slider {
        margin: 0px;
    }
}
