<form [formGroup]="rowingProfileForm">
    <mat-accordion multi>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Machine settings</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="panel-content">
                <mat-form-field>
                    <mat-label>Flywheel inertia</mat-label>
                    <input
                        type="number"
                        matInput
                        name="flywheelInertia"
                        placeholder="Flywheel inertia"
                        formControlName="flywheelInertia"
                        required
                    />
                    @if (rowingProfileFormErrors()?.flywheelInertia?.min) {
                        <mat-error>Should be higher than 0</mat-error>
                    }
                    @if (rowingProfileFormErrors()?.flywheelInertia?.max) {
                        <mat-error>Should be below 2</mat-error>
                    }
                    @if (rowingProfileFormErrors()?.flywheelInertia?.required) {
                        <mat-error>Inertia is required</mat-error>
                    }
                </mat-form-field>
                <div class="slider-container">
                    <span>Magic number:</span>
                    <mat-slider min="0" max="10.2" step="0.04" discrete>
                        <input matSliderThumb formControlName="concept2MagicNumber" />
                    </mat-slider>
                </div>
                <div class="slider-container">
                    <span>Sprocket radius (cm):</span>
                    <mat-slider min="0" max="5.1" step="0.02" discrete>
                        <input matSliderThumb formControlName="sprocketRadius" />
                    </mat-slider>
                </div>
                <div class="slider-container">
                    <span>Impulses per revolution:</span>
                    <mat-slider min="0" max="10" step="1" discrete>
                        <input matSliderThumb formControlName="impulsesPerRevolution" />
                    </mat-slider>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Sensor signal filter settings</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="panel-content">
                <div class="slider-container">
                    <span>Rotation debounce time (ms):</span>
                    <mat-slider min="0" max="15" step="1" discrete>
                        <input matSliderThumb formControlName="rotationDebounceTimeMin" />
                    </mat-slider>
                </div>
                <div class="slider-container">
                    <span>Rowing stopped threshold (sec):</span>
                    <mat-slider min="0" max="15" step="1" discrete>
                        <input matSliderThumb formControlName="rowingStoppedThresholdPeriod" />
                    </mat-slider>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Drag factor filter settings</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="panel-content">
                <mat-form-field>
                    <mat-label>Goodness of fit</mat-label>
                    <input
                        type="number"
                        matInput
                        name="goodnessOfFitThreshold"
                        placeholder="Goodness of fit"
                        formControlName="goodnessOfFitThreshold"
                        required
                    />
                    @if (rowingProfileFormErrors()?.goodnessOfFitThreshold?.min) {
                        <mat-error>Should be higher than 0</mat-error>
                    }
                    @if (rowingProfileFormErrors()?.goodnessOfFitThreshold?.max) {
                        <mat-error>Should be below 1</mat-error>
                    }
                    @if (rowingProfileFormErrors()?.goodnessOfFitThreshold?.required) {
                        <mat-error>Goodness of fit is required</mat-error>
                    }
                </mat-form-field>
                <div class="slider-container">
                    <span>Smoothing array length:</span>
                    <mat-slider min="0" max="16" step="1" discrete>
                        <input matSliderThumb formControlName="dragCoefficientsArrayLength" />
                    </mat-slider>
                </div>
                <div class="slider-container">
                    <span>Max recovery period (sec):</span>
                    <mat-slider min="0" max="15" step="1" discrete>
                        <input matSliderThumb formControlName="maxDragFactorRecoveryPeriod" />
                    </mat-slider>
                </div>
            </div>
            <div class="panel-content">
                <div class="slider-container">
                    <span>Lower threshold:</span>
                    <mat-slider min="0" max="65535" step="1" discrete [displayWith]="formatThousands">
                        <input matSliderThumb formControlName="lowerDragFactorThreshold" />
                    </mat-slider>
                </div>
                <div class="slider-container">
                    <span>Upper threshold:</span>
                    <mat-slider min="0" max="65535" step="1" discrete [displayWith]="formatThousands">
                        <input matSliderThumb formControlName="upperDragFactorThreshold" />
                    </mat-slider>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Stroke detection settings</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="panel-content">
                <mat-form-field>
                    <mat-label>Drag factor goodness of fit</mat-label>
                    <mat-select
                        name="strokeDetectionType"
                        placeholder="Drag factor goodness of fit
                                "
                        formControlName="strokeDetectionType"
                        (selectionChange)="updateStrokeDetectionType($event)"
                        required
                    >
                        <mat-option [value]="StrokeDetectionType.Torque">Torque</mat-option>
                        <mat-option [value]="StrokeDetectionType.Slope">Slope</mat-option>
                        <mat-option [value]="StrokeDetectionType.Both">Both</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="slider-container">
                    <span>Impulse data array length:</span>
                    <mat-slider min="3" max="15" step="1" discrete>
                        <input matSliderThumb formControlName="impulseDataArrayLength" />
                    </mat-slider>
                </div>
                <div class="slider-container">
                    <span>Minimum drive time:</span>
                    <mat-slider min="0" max="2040" step="8" discrete [displayWith]="formatThousands">
                        <input matSliderThumb formControlName="minimumDriveTime" />
                    </mat-slider>
                </div>
                <div class="slider-container">
                    <span>Minimum recovery time:</span>
                    <mat-slider min="0" max="2040" step="8" discrete [displayWith]="formatThousands">
                        <input matSliderThumb formControlName="minimumRecoveryTime" />
                    </mat-slider>
                </div>
            </div>
            <div class="panel-content">
                <mat-form-field>
                    <mat-label>Minimum drag torque</mat-label>
                    <input
                        type="number"
                        matInput
                        name="minimumDragTorque"
                        placeholder="Minimum drag torque"
                        formControlName="minimumDragTorque"
                        required
                    />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Minimum drive torque</mat-label>
                    <input
                        type="number"
                        matInput
                        name="minimumPoweredTorque"
                        placeholder="Minimum drive torque"
                        formControlName="minimumPoweredTorque"
                        required
                    />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Minimum recovery slope</mat-label>
                    <input
                        type="number"
                        matInput
                        name="minimumRecoverySlope"
                        placeholder="Minimum recovery torque"
                        formControlName="minimumRecoverySlope"
                        required
                    />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Minimum recovery slope margin</mat-label>
                    <input
                        type="number"
                        matInput
                        name="minimumRecoverySlopeMargin"
                        placeholder="Minimum recovery slope margin"
                        formControlName="minimumRecoverySlopeMargin"
                        required
                    />
                </mat-form-field>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</form>
