<mat-toolbar>
    <div>
        <app-open-settings-button></app-open-settings-button>
        <app-connect-erg-button></app-connect-erg-button>
    </div>
    <span class="time-of-day">
        {{ timeOfDay() | date: "HH:mm" }}
    </span>
    <span class="title">ESP Rowing Monitor Calibrator</span>
</mat-toolbar>
<div class="flex-col gap-8 main-content">
    <app-rowing-profile-editor
        [rowingProfile]="rowingProfileManager.profile()"
        (settingsChanged)="rowingProfileManager.updateProfile($event)"
    ></app-rowing-profile-editor>
    <app-calibration-data (onSimulationClick)="runCalibration($event)"></app-calibration-data>
    <app-totals [rowingMetricsTotals]="rowingMetricsTotals()" [marginDetect]="marginDetect()"></app-totals>
    <app-stroke-replay [rowingMetrics]="rowingMetrics()"></app-stroke-replay>
    <app-delta-times
        [min]="minDeltaTimeChartValue()"
        [strokeCount]="rowingMetricsTotals().strokeCount"
        [deltaTimes]="deltaTimesLog()"
    ></app-delta-times>
</div>
