@use "../../../flex-layout" as flex-layout;

mat-card-content {
    font-size: 1rem;
    > .grid {
        grid-template-columns: min-content 1fr;

        @include flex-layout.xs {
            grid-template-columns: 1fr;
        }

        > .grid {
            grid-template-columns: max-content 1fr;

            @include flex-layout.xs {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}
