<mat-card>
    <mat-card-content>
        <div class="flex-row xs-flex-col gap-16 gt-xs-items-center">
            <mat-form-field subscriptSizing="dynamic" class="flex-1">
                <mat-label>Sessions</mat-label>
                <mat-select [formControl]="sessionSelect" (selectionChange)="selectChanged($event)">
                    <mat-select-trigger>
                        @if (sessionSelect.value) {
                            {{ sessionSelect.value.deviceName }} -
                            {{ sessionSelect.value.strokeCount }} strokes
                        }
                    </mat-select-trigger>
                    <mat-option>None</mat-option>
                    @for (session of sessions(); track session.sessionId) {
                        <mat-option [value]="session">
                            <div class="date-option">
                                <span>{{ session.sessionId | date: "yyyy-MM-dd" }}</span>
                                <span
                                    >{{ session.sessionId | date: "HH:mm:ss" }} - {{ session.deviceName }} ({{
                                        session.strokeCount
                                    }}
                                    stk)</span
                                >
                            </div>
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field subscriptSizing="dynamic" class="flex-1">
                <input
                    #fileInput
                    accept=".txt"
                    (change)="loadFile($event)"
                    style="display: none"
                    type="file"
                />
                <button
                    matPrefix
                    matTooltipShowDelay="1000"
                    matTooltip="Check for update"
                    class="small-icon-button"
                    mat-icon-button
                    (click)="fileInput.click()"
                >
                    <mat-icon>upload_file</mat-icon>
                </button>
                <mat-label>File name</mat-label>
                <input matInput disabled [value]="fileSelect.value?.name" />
            </mat-form-field>
            <button
                mat-stroked-button
                (click)="emitSimulationClick()"
                [disabled]="!fileSelect.value && !sessionSelect.value"
            >
                <mat-icon>play_circle</mat-icon>
                Simulate
            </button>
            <button (click)="resetData()" mat-stroked-button>
                <mat-icon>cancel</mat-icon>
                Reset
            </button>
        </div>
    </mat-card-content>
</mat-card>
