<mat-card>
    <mat-card-content>
        <div>
            <canvas
                baseChart
                height="300vh"
                [data]="deltaTimesChart()"
                [legend]="true"
                [options]="deltaTimesChartOptions()"
                type="line"
            ></canvas>
        </div>
    </mat-card-content>
    <mat-card-actions class="gap-16">
        <button mat-stroked-button (click)="resetZoom()">Reset Zoom</button>
        <mat-form-field subscriptSizing="dynamic">
            <mat-label>Max axis value</mat-label>
            <input
                step="1"
                [(ngModel)]="maxForm"
                [value]="max() ?? 0"
                type="number"
                matInput
                name="maxAxisValue"
            />
        </mat-form-field>
    </mat-card-actions>
</mat-card>
